@model Teacher

<h2>Confirmer la suppression</h2>

<p>Voulez-vous vraiment supprimer cet enseignant ?</p>

<p>
    <strong>Prénom: @Model.Firstname</strong><br />
    <strong>Nom :</strong> @Model.Lastname<br />
    <strong>Age :</strong> @Model.Age
</p>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Annuler</a>
</form>